<app-header active="AboutUs"></app-header>
<div id="container">
    <div id="title">
        <h1>About Us</h1>
    </div>
    <div id="flex">
        <div id="flexleft">
            <img id="image1" src="../../../assets/image1.jpg" alt="Error">
            <img id="image2" src="../../../assets/image2.png" alt="Error">
        </div>
        <div id="flexright">
            <h2>Who are we?</h2>
            <p>We are MoviesWiki, your ultimate destination for all things cinema! We are passionate about 
                movies and committed to providing you with comprehensive and up-to-date information 
                about your favorite films.</p>
            <p>At MoviesWiki, we've curated an extensive collection of movie data, including titles, posters, 
                release dates, genres, and detailed descriptions. Whether you're a cinephile looking for your 
                next cinematic adventure or a casual moviegoer seeking recommendations, our platform has 
                something for everyone.</p>
            <p>We understand the importance of staying informed in the ever-evolving world of cinema, 
                which is why we strive to stay updated with the latest releases and timeless classics alike.
                Whether you're exploring the latest blockbusters, rediscovering beloved classics, or diving 
                into niche genres, MoviesWiki is your go-to resource for discovering, learning, and discussing 
                all things movies. Join our community of film lovers, and embark on a cinematic journey like 
                never before!</p>                
            <p>Thank you for choosing MoviesWiki. Let's explore the world of cinema together!</p>
        </div>
    </div>
</div>