<header>
    <button [style]="active == 'Home' ? 'color: #FBD46D' : 'color: #FFF2F9'" (click)="openHome()">Home</button>
    <button [style]="active == 'AboutUs' ? 'color: #FBD46D' : 'color: #FFF2F9'" id="aboutus" (click)="openAbout()">About Us</button>
    <button [style]="active == 'ContactUs' ? 'color: #FBD46D' : 'color: #FFF2F9'" id="contactus" (click)="openContact()">Contact Us</button>
    <button style="color: #FFF2F9" (click)="logout()"><span class="material-symbols-outlined">logout</span></button>
</header>