#container {
    display: flex;
    flex-direction: row;
    margin-top: 6em;
}
#image {
    flex-basis: 50%;
    text-align: center;
}
#details {
    flex-basis: 50%;
    padding: 5em;
}
img {
    width: 35em;
    height: 32em;
    border-radius: 1.5em;
    border: 1px solid black;
}
#release {
    color: gray;
}
button {
    margin: 0;
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
}