#moviescontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#moviecontainer {
    margin-top: 2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    width: 18em;
    height: 26em;
    border: 1px solid black;
    text-align: center;
}
#moviecontainer > img {
    width: 18em;
    height: 18em;
}